.block-left {
  float: left;
  .content {
    z-index: 1;
    position: relative;
  }
}

.block-right {
  float: right;
  overflow-y: auto;
}

.block-left,
.block-right {
  width: 50%;
  height: 100%;
  position: relative;
  display: table;
  > div {
    display: table-cell;
    vertical-align: middle;
  }
  .content {
    height: 100%;
  }
}

.inactive {
  pointer-events: none;
  pointer: default;
}

.content {
  padding: 60px;
  max-width: 600px;
  margin: 0 auto;
  overflow-wrap: break-word;
}

nav.nav-bar {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}

nav.nav-bar ul {
  font-size: 12px;
  text-transform: uppercase;
  background: $white;
  list-style: none;
  float: right;
  margin: 0;
}

nav.nav-bar ul.dropdown {
  border: 1px solid;
  border-color: $black;
}

nav.nav-bar li {
  color: $black;
  background: $white;
  display: block;
  position: relative;
  float: left;
  text-decoration-line: underline;
  text-decoration-color: $green;
  text-decoration-thickness: 2px;
  transition-duration: 0.3s;
}
  
nav.nav-bar li a {
  display: flex;
  padding: 0.5rem;
  color: $black;
}

nav.nav-bar ul > li:hover,
nav.nav-bar ul > li:focus-within {
  background: $green;
  cursor: pointer;
}

nav.nav-bar ul:not([class=nav-menu]) > li {
  text-decoration: none;
}

nav.nav-bar li:focus-within a {
  outline: none;
}

nav.nav-bar ul li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.3s ease;
  display: none;
}

nav.nav-bar ul li:hover > ul,
nav.nav-bar ul li:focus-within > ul,
nav.nav-bar ul li ul:hover,
nav.nav-bar ul li ul:focus {
   visibility: visible;
   opacity: 1;
   display: block;
}

nav.nav-bar ul li ul li {
  clear: both;
  width: 100%;
}

a.toc {
  color: $shamrock-green;
}

a.zola-anchor {
  color: $shamrock-green;
  margin-right: 6px;
}

.frame-p {
  width: auto;
  height: auto;
  margin: 20px auto;
  position: relative;
  display: table;
  box-shadow: -2px 0 0 0 $overlay-color,
               2px 0 0 0 $overlay-color,
               0 -2px 0 0 $overlay-color,
               0 2px 0 0 $overlay-color;
}

.frame-p p {
  display: table-cell; 
  vertical-align: middle; 
  text-align: center;
  padding: 20px;
}

.frame-dim {
  width: auto;
  height: auto;
  margin: 20px auto;
  position: relative;
  display: table;
  box-shadow: -2px 0 0 0 darken($white, 30),
               2px 0 0 0 darken($white, 30),
               0 -2px 0 0 darken($white, 30),
               0 2px 0 0 darken($white, 30);
}

.frame-dim p {
  display: table-cell; 
  vertical-align: middle; 
  text-align: center;
  color: $overlay-color;
  padding: 10px;
}

.page-image {
  border: 1px solid lighten($black, 35);
}

.overlay {
  position: fixed;
  background: $overlay-color;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: none;
  overflow-y: auto;
  &.show {
    display: block;
  }
}

.logo {
  max-width: 64px;
  display: inline-block;
  height: auto;
  background-size: 100%;
  margin: 20px auto;
  position: relative;
  font: 0/0 verdana;
  color: transparent;
  text-shadow: none;
}

.main-info,
.about-info {
  text-align: center;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  h1,
  h2 {
    font-size: 30px;
    position: relative;
    margin-top: 0;
    &:after {
      content: "";
      width: 100px;
      height: 2px;
      background: #585b63;
      bottom: -20px;
      position: absolute;
      left: 50%;
      -webkit-transform: translatex(-50%);
      -moz-transform: translatex(-50%);
      -ms-transform: translatex(-50%);
      -o-transform: translatex(-50%);
      transform: translatex(-50%);
    }
  }
  p {
    font-size: 21px;
    line-height: 30px;
    margin: 10px 0;
    padding-top: 25px;

  }
  a {
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
    &:hover {
      text-decoration-color: $green;
    }
  }
  ul {
    list-style-type: none;
    text-decoration: none;
    filter: drop-shadow(0 1px 7px);
    font-size: 1em;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    li {
      text-decoration: none;
      display: inline-block;
      text-align: center;
      width: 20%;
      padding: 4px;
      margin: 0;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-osx-font-smoothing: grayscale;
      position: relative;
      -webkit-transition-property: color;
      transition-property: color;
      -webkit-transition-duration: 0.2s;
      transition-duration: 0.2s;
      &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $green;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
      }
      &:hover,
      &:focus,
      &:focus-within {
        &:before {
          -webkit-transform: scaleY(1);
          transform: scaleY(1);
        }
      }
      a {
        text-decoration: none;
        font-size: 1.3em;
        padding: 0;
        margin: 0;
        color: $white;
      }
    }
  }
}

.main-info {
  color: $white;
  h1 {
    font-family: $caps-font;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  h2 {
    font-family: $caps-font;
    font-size: 32px;
    margin: 30px 0;
    padding-top: 10px;
    &:after {
      display: none;
    }
  }
}

.about-info {
  text-align: left;
  h1,
  h2 {
    font-size: 35px;
    color: lighten($black, 27.8431);
    &:after {
      position: absolute;
      left: auto;
      top: auto;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none;
      background: $green;
      left: 0;
      width: 200px;
    }
  }
  p {
    color: $overlay-color;
    font-size: 12px;
    margin: 10px 0;
    padding-top: 0;
    line-height: 24px;
    &:first-of-type {
      padding-top: 35px;
    }
  }
}

#posts {
  .block-right {
    display: block;
    .content {
      height: auto;
      display: block;
      max-width: 800px;
    }
  }
  .logo {
    top: 20px;
    left: 20px;
    position: absolute;
    img {
      width: 50px;
      height: auto;
    }
    &:after {
      display: none;
    }
  }
}

.section-title {
  font-size: 45px;
  position: absolute;
  bottom: 50px;
  overflow-wrap: anywhere;
  left: 50px;
  color: $white;
  filter: drop-shadow(0 1px 3px);
  em {
    font-style: normal;
  }
  span {
    font-size: 20px;
  }
}

.posts-list {
  margin: 50px 0;
  > li {
    margin-bottom: 23px;
    padding-bottom: 20px;
    border-bottom: 1px solid darken($white, 30);
    list-style: none;
    &:last-child {
      border: none;
    }
    h2 {
      font-size: 24px;
      margin-bottom: 15px;
    }
    p {
      color: darken($white, 40);
    }
    .date {
      color: $shamrock-green;
      float: left;
      width: 100%;
      display: block;
      font-size: 14px;
      padding-top: 10px;
      padding-bottom: 10px;
      text-transform: uppercase;
    }
    .post-title {
      display: inline-block;
      max-width: 100%;
      &:hover span {
        border-bottom: 1px dotted $green;
      }
    }
  }
  .tags li > a {
    color: lighten($black, 28%);
  }
}

.post-info {
  padding-bottom: 10px;
  width: 100%;
  font-size: 12px;
  color: darken($white, 50);
  float: left;
}

.tags {
  margin-top: 20px;
  > li {
    display: inline-block;
    background: darken($white, 5%);
    padding: 7px 10px;
    margin-bottom: 10px;
    color: lighten($black, 28%);
    font-size: 8px;
    text-transform: uppercase;
    > a {
      color: $white;
    }
  }
}

.inner-post {
  h1 {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 30px;
  }
  h2 {
    font-size: 30px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 25px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }
  p {
    font-size: 12px;
    line-height: 1.6;
    margin-bottom: 1.3em;
  }
  small {
    color: darken($white, 40);
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
  }
  a:not(.btn):not(.pagination_pager):not(.zola-anchor):not(.toc) {
    color: $shamrock-green;
    border-bottom: 1px dotted $green;
  }
  ul {
    list-style-type: square;
  }
  ul,
  ol {
    list-style-position: inside;
    padding-left: 30px;
    > li {
      position: relative;
      margin-bottom: 20px;
      &:first-child {
        margin-top: 20px;
      }
    }
  }
}

.post-title-section {
  position: absolute;
  bottom: 50px;
  left: 50px;
  right: 50px;
  .section-title {
    position: relative;
    left: auto;
    bottom: auto;
    font-size: 40px;
    filter: drop-shadow(0 1px 3px);
  }
  .tags > li {
    background: none;
    border: 1px solid rgba($white, 0.4);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    color: $white;
    font-size: 12px;
    filter: drop-shadow(0 1px 3px);
  }
  .section-line {
    color: $green;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    font-size: 25px;
    margin-bottom: 20px;
    &:after {
      content: '';
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      height: 3px;
      background: rgba($white, 0.4);
      margin-left: 10px;
    }
    a {
      color: $green;
      &:hover {
        color: #4dbe7a;
      }
    }
    em {
      display: inline-block;
      margin: 0 10px;
    }
    &.reverse {
      margin-top: 40px;
      &:before {
        content: '';
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        height: 3px;
        background: rgba($white, 0.4);
        margin-right: 10px;
      }
      &:after {
        display: none;
      }
    }
  }
}

.date-highlight {
  text-align: center;
  margin: 50px 0;
  color: $overlay-color;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  &:before {
    content: '';
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 2px;
    background: darken($white, 30);
    margin-right: 10px;
  }
  &:after {
    content: '';
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 2px;
    background: darken($white, 30);
    margin-left: 10px;
  }
}

.projects {
    padding-right: 20px;
    display: block;
    > h3 {
      padding-top: 20px;
      padding-left: 20px;
    }
    .project-list {
      padding-bottom: 10px;
    }
    .project-license {
      font-size: 10px;
    } 
    > ul {
      padding: 0;
      list-style-type: none;
      > li {
        margin-bottom: 10px;
        padding-left: 20px;
      }
    }
    .tags {
      margin-top: 0;
      padding-left: 0;
      > li {
        text-transform: lowercase;
      }
    }
    .tags:is(.project-tags) > ul {
      padding: 0;
    }
    .tags:is(.project-tags) > li {
      margin: 0;
      font-size: 8px;
      padding: 4px;
      margin-bottom: 10px;
    }
}

.page-toc {
  margin-bottom: 40px;
}

.footer-line {
  float: right;
  margin-bottom: 50px;
}

@media screen and (max-height: 605px) {
  .post-title-section .section-title {
    font-size: 45px;
  }
}

@media screen and (max-width: 960px) {
  .block-left,
  .block-right {
    float: none;
    width: 100%;
  }
  html {
    overflow: auto;
  }
  .block-right {
    overflow-y: inherit;
  }
}

@media screen and (max-width: 640px) {
  nav.nav-bar {
    left: 50%;
    right: unset;
    margin-right: -50%;
    transform: translate(-50%, 0);
  }
  .inner-post {
    h1 {
      font-size: 35px;
      line-height: 35px;
    }
    h2 {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 15px;
    }
    p,
    li {
      font-size: 12px;
    }
    ul > li {
      margin-bottom: 10px;
    }
  }
  .date-highlight {
    margin: 80px 0 40px;
  }
  .post-title-section {
    .section-line {
      display: none;
    }
    .section-title {
      font-size: 40px;
    }
  }
  .section-title {
    font-size: 42px;
  }
  .content {
    padding: 20px
  }
}

.entry-meta {
  font-size: .75rem;
  text-transform: uppercase;
  padding-left: 0;
  display: none;
  padding-bottom: 15px;
  @media screen and (min-width: $small) {
    display: block;
  }
  a,
  p {
    color: lighten($black, 35);
  }
  li {
    list-style-type: none;
    display: inline;
  }
  .tag,
  .category {
    display: inline-block;
    background-color: darken($white, 3%);
    border-radius: 0;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    margin: 2px 5px;
    font-size: 0.7rem;
    border: none !important;
    span {
      float: left;
      padding: 2px 6px;
    }
    .count {
      background-color: darken($white, 8%);
    }
    &:hover {
      background-color: darken($white, 8%);
    }
  }
}
.entry-info {
  color: lighten($black, 50) !important;
}
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 1em;
  &_pager {
    display: inline-block;
    padding: 0.75em;
    min-width: 5.5em;
    font-size: 0.8em;
    font-weight: 400;
    background-color: darken($white, 5%);
    color: darken($white, 35%) !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.2s linear;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:first-child {
      border-radius: 0;
    }
    &:last-child {
      border-radius: 0;
    }
    &:hover {
      background-color: $green;
      color: $white !important;
    }
    &.disabled {
      background-color: darken($white, 3%);
      color:darken($white, 15%) !important;
      &:hover {
        background-color: darken($white, 3%);
        color:darken($white, 15%) !important;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $dark-blue;
    color: $overlay-color-dark;
  }
  nav.nav-bar li {
    border-color: $white;
  }
  nav.nav-bar li a {
    color: $white;
  }
  nav.nav-bar li, nav.nav-bar ul {
    background: $dark-blue;
  }
  nav.nav-bar ul.dropdown {
    border-color: $white;
  }
  .frame-p {
    box-shadow: -2px 0 0 0 darken($white, 28%),
                 2px 0 0 0 darken($white, 28%),
                 0 -2px 0 0 darken($white, 28%),
                 0 2px 0 0 darken($white, 28%);
  }
  .frame-dim {
    box-shadow: -2px 0 0 0 lighten($black, 30),
                 2px 0 0 0 lighten($black, 30),
                 0 -2px 0 0 lighten($black, 30),
                 0 2px 0 0 lighten($black, 30);
  }
  .frame-dim p {
    color: $overlay-color-dark;
  }
  table, td, th, tr {
    border-color: lighten($black, 42%);
  }
  thead {
    background-color: lighten($black, 15%);
    border-color: lighten($black, 42%);
  }
  .btn {
    background-color: lighten($black, 7%);
    color: darken($white, 20%);
  }
  a.btn {
    color: darken($white, 30%);
  }
  .block-right {
    a:not(.zola-anchor):not(.toc):not(.title-tag) {
      color: $overlay-color-dark;
    }
  }
  .about-info {
    h1,
    h2,
    p {
      color: $overlay-color-dark;
    }
  } 
  .inner-post {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $overlay-color-dark;
    }
    p {
      color: $overlay-color-dark;
    }
    small {
      color: lighten($black, 40);
    }
    a:not(.btn):not(.pagination_pager):not(.zola-anchor):not(.toc) {
      color: $green;
      border-bottom: 1px dotted $shamrock-green;
    }
  }
  .page-image {
    border: 1px solid darken($white, 75);
  }
  .posts-list {
    > li {
      border-bottom: 1px solid lighten($black, 40);
      .date {
        color: $green;
      }
    }
    p {
      color: lighten($black, 40);
    }
    .tags li > a {
      color: darken($white, 28%);
    }
  }
  .post-info {
    color: darken($white, 50);
  }
  .tags:is(.project-tags) > li,
  .tags:is(.title-tags) > li {
    background: lighten($black, 65%);
    color: darken($white, 88%);
    > a {
      color: $black;
    }
  }
  a.zola-anchor,
  a.toc {
    color: $green;
  }
  .entry-info {
    color: darken($white, 35) !important;
  }
  .date-highlight {
    color: $overlay-color-dark;
    &:before {
      background: lighten($black, 30);
    }
    &:after {
      background: lighten($black, 30);
    } 
  }
  p > code,
  a > code,
  li > code,
  figcaption > code,
  td > code,
  kbd {
    background-color: lighten($black, 20%);
  }
  .entry-meta {
    a,
    p {
      color: darken($white, 20);
    }
    .tag,
    .category {
      background-color: lighten($black, 3%);
    } 
    .count {
      background-color: lighten($black, 8%);
    }
    &:hover {
      background-color: lighten($black, 8%);
    }
  }
  .pagination {
    &_pager {
      background-color: lighten($black, 25%);
      color: lighten($black, 55%) !important;
      &.disabled {
        background-color: lighten($black, 17%);
        color:lighten($black, 30%) !important;
        &:hover {
          background-color: lighten($black, 23%);
          color:lighten($black, 35%) !important;
        }
      }
    }
  }
}
