@import url("syntax-theme-dark.css") (prefers-color-scheme: dark);
@import url("syntax-theme-light.css") (prefers-color-scheme: light);

pre {
  padding: 1rem;
  overflow: auto;
  margin-bottom: 2em;
  font-family: $code-font;
  font-size: 0.8em;
}
pre[data-linenos] {
  padding: 1rem 0;
}
pre table td {
  padding: 0;
}
pre table td:nth-of-type(1) {
  text-align: center;
  user-select: none;
}
pre mark {
  display: block;
  background-color: rgba(254, 252, 232, 0.9);
}
pre table {
  width: 100%;
  border-collapse: collapse;
}
