$white: #ffffff;
$black: #000000;
$dark-blue: #111113;
$gray: #d4d4d4;
$overlay-color: #2c2d33;
$overlay-color-dark: #e6edf3;
$green: #72cc96;
$shamrock-green: #399f62;

$red: #ee5f5b;
$blue: #19b5fe;
$yellow: #f89406;
$aqua: #7fdbff;

$base-font: "Press Start 2P", sans-serif;
$caps-font: "Pixeboy", sans-serif;
$code-font: "Hack", monospace;

$small: 750px;
