<script src="https://giscus.app/client.js"
        data-repo="{{ config.extra.giscus.repo }}"
        data-repo-id="{{ config.extra.giscus.repo_id }}"
        data-category="{{ config.extra.giscus.category }}"
        data-category-id="{{ config.extra.giscus.category_id }}
        data-mapping="{{ config.extra.giscus.mapping }}"
        data-strict="{{ config.extra.giscus.strict }}"
        data-reactions-enabled="{{ config.extra.giscus.reactions }}"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="{{ config.base_url ~ "/css/giscus.css" }}"
        data-lang="{{ config.extra.giscus.lang }}"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
<noscript><div class="frame-dim"><p>Activate <code>JavaScript</code> to load <u>comments</u>.</p></div></noscript>
