<script src="https://giscus.app/client.js"
        data-repo="{{ config.extra.comments.giscus.repo }}"
        data-repo-id="{{ config.extra.comments.giscus.repo_id }}"
        data-category="{{ config.extra.comments.giscus.category }}"
        data-category-id="{{ config.extra.comments.giscus.category_id }}
        data-mapping="{{ config.extra.comments.giscus.mapping }}"
        data-strict="{{ config.extra.comments.giscus.strict }}"
        data-reactions-enabled="{{ config.extra.comments.giscus.reactions }}"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="{{ config.base_url ~ '/giscus.css?v='  ~ get_hash(path='/giscus.css', sha_type=512, base64=false) | safe  }}"
        data-lang="{{ config.extra.comments.giscus.lang }}"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
