<ul>
         {% if config.extra.social.email %}
            <li><a class="social-btn" href="mailto:{{ config.extra.social.email }}" aria-label="E-Mail" target="_blank" rel="noopener noreferrer"><i class="nf nf-fa-envelope"></i></a></li>
         {% endif %}
         {% if config.extra.social.mastodon %}
            <li><a class="social-btn" href="https://{{ config.extra.social.mastodon }}" aria-label="Mastodon" target="_blank" rel="noopener noreferrer"><i class="nf nf-fa-mastodon"></i></a></li>
         {% endif %}
         {% if config.extra.social.twitter %}
            <li><a class="social-btn" href="https://twitter.com/{{ config.extra.social.twitter }}" aria-label="Twitter" target="_blank" rel="noopener noreferrer"><i class="nf nf-fa-twitter"></i></a></li>
         {% endif %}
         {% if config.extra.social.facebook %}
            <li><a class="social-btn" href="https://facebook.com/{{ config.extra.social.facebook }}" aria-label="Facebook" target="_blank" rel="noopener noreferrer"><i class="nf nf-fa-facebook "></i></a></li>
         {% endif %}
         {% if config.extra.social.twitch %}
            <li><a class="social-btn" href="https://www.twitch.tv/{{ config.extra.social.twitch }}" aria-label="Twitch" target="_blank" rel="noopener noreferrer"><i class="nf nf-fa-twitch"></i></a></li>
         {% endif %}
         {% if config.extra.social.google_plus %}
            <li><a class="social-btn" href="https://plus.google.com/+{{ config.extra.social.google_plus }}" aria-label="Google Plus" target="_blank" rel="noopener noreferrer"><i class="nf nf-fa-google_plus"></i></a></li>
         {% endif %}
         {% if config.extra.social.linkedin %}
            <li><a class="social-btn" href="https://linkedin.com/in/{{ config.extra.social.linkedin }}" aria-label="LinkedIn" target="_blank" rel="noopener noreferrer"><i class="nf nf-fa-linkedin"></i></a></li>
         {% endif %}
         {% if config.extra.social.xing %}
            <li><a class="social-btn" href="https://www.xing.com/profile/{{ config.extra.social.xing }}" aria-label="Xing" target="_blank" rel="noopener noreferrer"><i class="nf nf-fa-xing"></i></a></li>
         {% endif %}
         {% if config.extra.social.tumblr %}
            <li><a class="social-btn" href="https://{{ config.extra.social.tumblr }}.tumblr.com" aria-label="Tumblr" target="_blank" rel="noopener noreferrer"><i class="nf nf-fa-tumblr"></i></a></li>
         {% endif %}
         {% if config.extra.social.codeberg %}
            <li><a class="social-btn" href="https://codeberg.org/{{ config.extra.social.codeberg }}" aria-label="Codeberg" target="_blank" rel="noopener noreferrer"><i class="nf nf-linux-codeberg"></i></a></li>
         {% endif %}
         {% if config.extra.social.github %}
            <li><a class="social-btn" href="https://github.com/{{ config.extra.social.github }}" aria-label="GitHub" target="_blank" rel="noopener noreferrer"><i class="nf nf-fa-github"></i></a></li>
         {% endif %}
         {% if config.extra.social.gitlab %}
            <li><a class="social-btn" href="https://gitlab.com/{{ config.extra.social.gitlab }}" aria-label="GitLab" target="_blank" rel="noopener noreferrer"><i class="nf nf-fa-gitlab"></i></a></li>
         {% endif %}
         {% if config.extra.social.bitbucket %}
            <li><a class="social-btn" href="https://bitbucket.org/{{ config.extra.social.bitbucket }}" aria-label="Bitbucket" target="_blank" rel="noopener noreferrer"><i class="nf nf-fa-bitbucket"></i></a></li>
         {% endif %}
         {% if config.extra.social.keybase %}
            <li><a class="social-btn" href="https://keybase.io/{{ config.extra.social.keybase }}" aria-label="Keybase" target="_blank" rel="noopener noreferrer"><i class="nf nf-fa-keybase"></i></a></li>
         {% endif %}
         {% if config.extra.social.stackoverflow %}
            <li><a class="social-btn" href="https://stackoverflow.com/users/{{ config.extra.social.stackoverflow }}" aria-label="Stack Overflow" target="_blank" rel="noopener noreferrer"><i class="nf nf-dev-stackoverflow"></i></a></li>
         {% endif %}
         {% if config.extra.social.codepen %}
            <li><a class="social-btn" href="https://codepen.io/{{ config.extra.social.codepen }}" aria-label="CodePen" target="_blank" rel="noopener noreferrer"><i class="nf nf-dev-codepen"></i></a></li>
         {% endif %}
         {% if config.extra.social.lastfm %}
            <li><a class="social-btn" href="https://last.fm/user/{{ config.extra.social.lastfm }}" aria-label="Last.fm" target="_blank" rel="noopener noreferrer"><i class="nf nf-fa-lastfm"></i></a></li>
         {% endif %}
         {% if config.extra.social.dribbble %}
            <li><a class="social-btn" href="https://dribbble.com/{{ config.extra.social.dribbble }}" aria-label="Dribbble" target="_blank" rel="noopener noreferrer"><i class="nf nf-fa-dribbble"></i></a></li>
         {% endif %}
         {% if config.extra.social.pinterest %}
            <li><a class="social-btn" href="https://www.pinterest.com/{{ config.extra.social.pinterest }}" aria-label="Pinterest" target="_blank" rel="noopener noreferrer"><i class="nf nf-fa-pinterest"></i></a></li>
         {% endif %}
         {% if config.extra.social.foursquare %}
            <li><a class="social-btn" href="https://foursquare.com/{{ config.extra.social.foursquare }}" aria-label="Foursquare" target="_blank" rel="noopener noreferrer"><i class="nf nf-fa-foursquare"></i></a></li>
         {% endif %}
         {% if config.extra.social.steam %}
            <li><a class="social-btn" href="https://steamcommunity.com/id/{{ config.extra.social.steam }}" aria-label="Steam" target="_blank" rel="noopener noreferrer"><i class="nf nf-fa-steam"></i></a></li>
         {% endif %}
         {% if config.extra.social.youtube %}
            <li><a class="social-btn" href="https://youtube.com/user/{{ config.extra.social.youtube }}" aria-label="YouTube" target="_blank" rel="noopener noreferrer"><i class="nf nf-fa-youtube"></i></a></li>
         {% endif %}
         {% if config.extra.social.soundcloud %}
            <li><a class="social-btn" href="https://soundcloud.com/{{ config.extra.social.soundcloud }}" aria-label="Soundcloud" target="_blank" rel="noopener noreferrer"><i class="nf nf-fa-soundcloud"></i></a></li>
         {% endif %}
         {% if config.extra.social.weibo %}
            <li><a class="social-btn" href="https://www.weibo.com/{{ config.extra.social.weibo }}" aria-label="Weibo" target="_blank" rel="noopener noreferrer"><i class="nf nf-fa-weibo"></i></a></li>
         {% endif %}
         {% if config.extra.social.instagram %}
            <li><a class="social-btn" href="https://instagram.com/{{ config.extra.social.instagram }}" aria-label="Instagram" target="_blank" rel="noopener noreferrer"><i class="nf nf-fa-instagram"></i></a></li>
         {% endif %}
         {% if config.extra.social.flickr %}
            <li><a class="social-btn" href="https://www.flickr.com/{{ config.extra.social.flickr }}" aria-label="Flickr" target="_blank" rel="noopener noreferrer"><i class="nf nf-fa-flickr"></i></a></li>
         {% endif %}
         {% if config.extra.social.reddit %}
            <li><a class="social-btn" href="https://www.reddit.com/user/{{ config.extra.social.reddit }}" aria-label="Reddit" target="_blank" rel="noopener noreferrer"><i class="nf nf-fa-reddit"></i></a></li>
         {% endif %}
         {% if config.extra.social.hackernews %}
            <li><a class="social-btn" href="https://news.ycombinator.com/user?id={{ config.extra.social.hackernews }}" aria-label="Hacker News" target="_blank" rel="noopener noreferrer"><i class="nf nf-dev-hackernews"></i></a></li>
         {% endif %}
         </ul>
