{% extends "base.html" %}

{% block page_title %}Categories{% endblock page_title %}
{% block right %}
    <div class="inner-post content">
      <div class="date-highlight">{% if page.date %}{{ page.date | date(format="%d %b %Y") }}{% else %}x{% endif %}</div>
      <div class="entry-meta">
        <p>{% for term in terms %}#<a href="{{ config.base_url ~ "/categories/" ~ term.name }}">{{ term.name }}</a><sup>{{ term.pages | length }}</sup> {% endfor %}</p>
      </div>
      {%- for term in terms %}
        <h2 class="entry-title"><a href="{{ config.base_url ~ "/categories/" ~ term.name }}">#</a>{{ term.name | safe}}</h2>
        <ul>
        {%- for page in term.pages %}
          <li class="entry-info"><a href="{{ page.permalink | safe }}{%- if uglyurls %}index.html{%- endif %}">{{ page.title }}</a> <time datetime="{{ page.date }}">{{ page.date | date(format="%F") }}</time></li>
        {%- endfor %}
        </ul>
      {%- endfor %}
    </div>
  </div>
{% endblock right %}
