#mastodon-comments .frame-dim p {
  font-family: "Press Start 2P";
  font-size: 14px;
}
#mastodon-comments article {
  margin-top: 20px;
}
#mastodon-comments .meta {
  padding-left: 10px;
  border-left: solid 2px gray;
  display: flex;
  gap: 8px;
  align-items: flex-start;
}
#mastodon-comments .avatar {
  width: 58px;
  height: 58px;
  min-width: 58px;
  max-width: 58px;
  max-height: 58px;
  border: solid 1px gray;
  display: block;
  flex-shrink: 0;
  object-fit: cover;
}
#mastodon-comments .content-wrapper {
  flex: 1;
  min-width: 0;
}
#mastodon-comments .author {
  display: flex;
  align-items: center;
  margin: 0 0 0 0;
  font-family: "Jersey10";
  font-size: 22px;
  white-space: nowrap;
  overflow: hidden;
}
#mastodon-comments .author svg {
  flex-shrink: 0;
}
#mastodon-comments time {
  display: block;
  margin-top: 0;
  font-size: 20px;
}
#mastodon-comments time a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#mastodon-comments .account {
  margin-right: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}
#mastodon-comments .bot-badge {
  color: #9932cc;
  margin-left: 10px;
}
#mastodon-comments .emoji,
#mastodon-comments picture:has(.emoji) {
  display: inline;
}
#mastodon-comments main {
  border-bottom: dashed 2px gray;
  padding-left: 12px;
  padding-bottom: 6px;
}
#mastodon-comments .m-comment .m-comment {
  margin-left: 24px;
}
#mastodon-comments .m-comment .m-comment .m-comment .m-comment .m-comment {
  margin-left: 0;
}
