{%- import "macros/macros.html" as macros %}
{% set categories = get_taxonomy(kind="categories") %}
{% set tags = get_taxonomy(kind="tags") %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {%- include "partials/head.html" %}
  </head>
  {% block body %}<body id="posts">{% endblock body %}
    <div class="block-left">
      <div class="content">
        {% if current_path | default(value="none") != "/" %}<a href="{{ config.base_url }}" class="logo"><img src="{{ get_url(path=config.extra.logo, cachebust=true) }}", alt="logo" width="64" height="64"></a>{% endif %}
  {% block left %}
        <h1 class="section-title">{%- block page_title %}{% if page.title %}{{ page.title }}{% elif section.title %}{{ section.title }}{% elif term.name %}{{ '#' ~ term.name }}{% else %}{% endif %}{% endblock page_title %}</h1>
  {% endblock left %}
      </div>
    </div>
    <div class="block-right">
      <nav class="nav-bar" role="navigation">
        <ul class="nav-menu">
        {% block nav %}
          <li><a href="{{ get_url(path="@/_index.md") }}">Home</a></li>
          <li><a href="{{ get_url(path="@/posts/_index.md") }}" aria-haspopup="true">Posts</a>
            <ul class="dropdown" aria-label="submenu">
              <li><a href="{{ get_url(path="@/posts/_index.md") }}">Index</a></li>
              <li><a href="{{ tags.permalink }}">Tags</a></li>
              <li><a href="{{ categories.permalink }}">Categories</a></li>
            </ul>
          </li>
          <li><a href="{{ get_url(path="@/pages/projects.md") }}">Code</a></li>
        {% endblock nav %}
        </ul>
      </nav>
  {% block right %}
      <div class="content">
        <div class="date-highlight">{% if page.date %}{{ page.date | date(format="%d %b %Y") }}{% else %}x{% endif %}</div>
        {% block content %}{% endblock content %}
      </div>
    </div>
  {% endblock right %}
  </body>
</html>
