{% extends "base.html" %}

{% block body %}<body id="homepage">{% endblock body %}
  {% block left %}
        <div class="main-info">
          {% if config.extra.home.logo.enabled == true %}<a href="{{ "/" | safe }}" class="home-logo"><img src="{{ "/" ~ config.extra.logo ~ "?v=" ~ get_hash(path='/config.extra.logo', sha_type=512, base64=false) | safe }}" alt="logo" width="{{ config.extra.home.logo.width }}" height="{{ config.extra.home.logo.height }}"></a>{% endif %}
          <h1>
            <span class="hero {% if config.extra.home.glitch == true %}glitch-h1 layers" data-text="{{ config.extra.home.title | safe }}{% endif %}"><span>{{ config.extra.home.title | safe }}</span></span>
          </h1>
          <h2>
            <span class="hero {% if config.extra.home.glitch == true %}glitch-h2 layers" data-text="{{ config.extra.home.subtitle | safe }}{% endif %}"><span>{{ config.extra.home.subtitle | safe }}</span></span>
          </h2>
          <br>
          {% include "partials/social-links.html" %}
        </div>
  {% endblock left %}
  {% block right %}
      <div class="content">
        <div class="about-info">
          {{ section.content | safe }}
        </div>
      </div>
  {% endblock right %}
  {% block footer %}
  {% if config.extra.home.footer == true %}{{ super() }}{% endif %}
  {% endblock footer %}
