{% extends "page.html" %}

      {% block comments %}
      {% if not page.extra.disable_comments %}
      <br>
        {% if config.extra.comments.system == "cactus" %}
          {%- include "partials/cactus.html" %}
        {% elif config.extra.comments.system == "giscus" %}
          {%- include "partials/giscus.html" %}
        {% endif %}
      <noscript><div class="frame-dim"><p>Activate <code>JavaScript</code> to load <u>comments</u>.</p></div></noscript>
      {% endif %}
      {% endblock comments %}
