{%- component music(artist, track) -%}
{%- set api_key = get_env(name="LASTFM_KEY", default="nokey") %}
{%- if api_key != "nokey" %}
  {% set data_url = "https://ws.audioscrobbler.com/2.0/?method=track.getInfo&api_key=" ~ api_key ~ "&artist=" ~ artist ~ "&track=" ~ track ~ "&format=json&autocorrect=1" %}
  {% set track_info = load_data(url=data_url, format="json", headers=['User-Agent=config.title ~ " site"'], required=true) %}
  {% set artist = "<a href=" ~ track_info.track.artist.url ~ ">" ~ track_info["track"]["artist"]["name"] ~ "</a>" %}
  {% set track = "<a href=" ~ track_info.track.url ~ ">" ~ track_info["track"]["name"] ~ "</a>" %}
{% endif %}
<div class="post-music">
  <p>{{ artist | safe }} — {{ track | safe }}</p>
</div>
{%- endcomponent music -%}
